body{
    background-color:#363636;
}
.col-lg-6{
    
    color: white;
}
.navigs{
    background-color: #262626;
}

.navigation{
    background-color: #262626;
    margin: 0em 5em;
}

.part2{
    background-color: white;
    /* height: 50em; */
    margin:0em 5em;
}