*{
	margin: 0px;
	padding: 10px;
}

body{
    background-color: black;
}

.main{
	background-color: white;
}

.head{
	color: white;
	background-color: black;
	padding: 15px;
	height: 100px; 
}

nav{
	margin: 5px;
	box-sizing: border-box;
}

nav a{
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 6px;
}

.sec1{
    height: 360px;
    width: 960px;
    background-color: black;
    position: relative;
    left: 100px;
    margin: 20px;
}

.sec1 p{
    color: blanchedalmond;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
}


.sec2 p{
    text-align: center;
    padding: 4px;
}

.sec2{
    height: 50px;
    width: 950px;
    background-color: burlywood;
    text-align: center;
    position: relative;
    left: 100px;
    margin: 20px;
}

.sec3{
	position: relative;
	margin: 20px;
	left: 100px;
}

.sec4{
	width: 215px;
    height: 315px;
    background-color:black;
    margin: 5px;
    color: white;
}

.sec4 p {
    position: relative;
    text-align: center;
    top: 50%;
}

.box{
	display: flex;
}

.caption{
	display: flex;
}

.caption p{
	color: black;
    position: relative;
    left: 10%;
    margin: 20px;
    display: inline-table;
}

footer{
    background-color: black;
    height:40px;
    }

footer p{
    color: blanchedalmond;
    text-align: center;
}
aside{
    background-color: chartreuse;
}

