.menu{
    display: inline-block;
    margin-left: 80%;
    color: rgb(43, 206, 152);
}

.bugreport{
	padding: 8px;
	background-color: grey;
/*	margin-top: 0px;
	margin: auto;*/
}
.border{
	border-style: solid;
	margin: 100px 400px;
	
	border-radius: 5px;

}
.form{
	padding: 20px;
}


.resizedTextbox {width: 100%;
	border-radius: 5px;

}
.resizedTextbox1 {width: 100%;
	background-color: rgb(43,206,152);
	padding: 7px 7px;
		border-radius: 5px;

}
.foot {
	background-color: grey;
	padding: 16px;
	overflow: auto;

}
